.rtsCaption {
	font-weight: bold;
	font-size:14px;
	font-family:Arial;
}
.tablaContenido {
	padding: 0px;
	border: 1px solid #688caf;
	width: 99%;
	margin-left: 4px;
	margin-right: 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: rgb(150, 150, 150) 3px 1px;
	-webkit-box-shadow: rgb(150, 150, 150) 3px 1px;
	box-shadow: rgb(150, 150, 150) 2px 1px 3px;
	filter:Alpha(opacity=80);
	opacity: 1;
}